#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f7f6; 
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}